# 每天 12:00（北京时间）执行一次每日领奖提醒任务
0 12 * * * curl -s https://sofun.online/cron/send-remind > /dev/null 2>&1

# 每天 04:00（北京时间）同步昨日视频单价
0 4 * * * curl -s https://sofun.online/cron/sync-channel-unit-price >> /www/wwwlogs/pun-sync-unit-price.log 2>&1

# 每天 04:10（北京时间）预生成当天每日挑战题目
10 4 * * * curl -s https://sofun.online/cron/gen-daily-challenge >> /www/wwwlogs/pun-gen-daily-challenge.log 2>&1
